body{
    background-color: #010806;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}

h4{
    font-size: 1rem;
    display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;   
}

.accordion {
    border: 1px solid ;
    border-radius: 5px;
  }
  
  .accordion-item {
    padding-top: 10px;
    height: 65px;
    border-bottom: 1px solid;
    background-color: #3c3c3c;
    width: 1100px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .accordion-header {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: #3c3c3c;
  }
  
  .accordion-content {
    padding: 10px;
    display: none;
    color: white;
    background-color: #3c3c3c;
    font-weight: bold;
    font-size: 1rem;
  }
 
  /* Show content when the parent has the 'open' class */
  .accordion-item.open .accordion-content {
    display: block;
  }

   h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 2.5rem;
  }

  input{
    background-color: transparent;
    border-radius: 7px;
    border-color: white;
    color: white;
    height: 40px;
    width: 220px;
    font-weight: bolder;
    color: white;
    margin-left: 550px;
    
    
}

#started{
   cursor: pointer;
    height:45px;
    width: 130px;
    background-color: #E50914;
    color: #fff;
    border-radius: 7px;
margin-right: 540px;
}