@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  font-family: "Roboto", sans-serif;

  background-color: rgba(8, 8, 8, 0.89);
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  align-self: center;
}

.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navbar li:nth-child(2) {
  margin-top: -10px;
  margin-right: 70px;
}
/* .logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
} */

.logo {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;*/
  display: inline-block;
  width: 7.72em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 138'%3E%3Cpath fill='%23db202c' d='M340.657 0v100.203q18.54.861 36.98 2.09v21.245a1822 1822 0 0 0-58.542-2.959V0zM512 .012l-28.077 65.094l28.07 72.438l-.031.013a1789 1789 0 0 0-24.576-3.323l-15.763-40.656l-15.913 36.882a1816 1816 0 0 0-22.662-2.36l27.371-63.43L435.352.013h23.325l14.035 36.184L488.318.012zM245.093 119.526V.011h60.19v21.436h-38.628v27.78h29.227v21.245h-29.227v49.05zM164.58 21.448V.01h66.69v21.437h-22.565v98.66c-7.197.19-14.386.412-21.56.683V21.448zM90.868 126.966V.014h59.89v21.435h-38.331v29.036c8.806-.113 21.327-.24 29.117-.222V71.51c-9.751-.12-20.758.134-29.117.217v32.164a1848 1848 0 0 1 38.331-2.62v21.247a1816 1816 0 0 0-59.89 4.45M48.571 77.854L48.57.01h21.562v128.96q-11.823 1.216-23.603 2.584L21.56 59.824v74.802q-10.8 1.406-21.56 2.936V.012h20.491zm346.854 46.965V.012h21.563V126.6c-7.179-.64-14.364-1.23-21.563-1.78'/%3E%3C/svg%3E");
  margin-left: 600px;
  margin-top: 25px;
} 

/* .lang{
  background-color: transparent;
  padding-left: 900px;
  color: white;
  display: flex;
  flex-direction: row;
  width: 150px;
  min-height: 40px;
  border: solid white;
  background: transparent;
  border-radius: 5px;
} */

.languages{
  /* padding: 7px 20px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
line-height: 20px;
font-weight: 400;
font-size: 16;
display: block;
width: 132px;
height: 32px;
text-align: left;
text-transform: none;
text-decoration: none solid white; 
}

.fa-solid fa-language{
  color: white;
}

.buttons {

  text-decoration: none solid white; 
  font-weight: 900;
  font-size: 14;
  background-color: #e50914;
  padding: 7px 17px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  width: 100%;
  margin-top: -100px;
  background-size: cover;
  align-items: center;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  background-position: center;
  min-height: 710px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgba(68, 65, 65, 0.8), rgb(0, 0, 0, 0.7)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/a1dc92ca-091d-4ca9-a05b-8cd44bbfce6a/f9368347-e982-4856-a5a4-396796381f28/RS-en-20191230-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.area {
  color: white;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
}

.area h1 {
  font-size: 40px;
  word-spacing: 12px;
  line-height: 75px;
}

.area h3 {
  margin-top: -30px;
  font-size: 23px;
  font-weight: bolder;
}

.search {
  width: 150%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
  gap: 5px;
}

.box {
  width: 30%;
  min-height: 55px;
  border: solid white;
  background: transparent;
  padding-left: 5px;
  border-radius: 7px;
  color: grey;
  
}

.started {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e50914;
  width: 15%;
  font-size: 20px;
  min-height: 50px;
  border-radius:7px;
  color: white;
}

.area h4 {
  margin-top: 10px;
  font-weight: bolder;
}
.container1 {
  width: 100%;
  min-height: 460px;
  background-color: black;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.container1 img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  object-fit: contain;
  object-position: center;
  align-self: center;

  max-width: 100%;
  height: 350px;
}

.container1 .image {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-self: center;
  object-fit: contain;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
}
.text p {
  font-size: 1.5rem;
  margin-top: 5px;
}

.text h1 {
  font-size: 3.125rem;
}

.question {
  width: 100%;
  min-height: 950px;
  background-color: #000;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.question h1 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quest {
  width: 51%;
  min-height: 75px;
  background-color: #303030;
  color: white;
  align-items: center;
  justify-content: space-between;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 5px 0;
}

.quest .textbox {
  display: flex;
  text-align: left;

  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  font-size: 25px;
  margin: 0 30px;
  word-spacing: 5px;
  text-align: left;
}

.quest i {
  margin: 0 30px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.quest:focus {
  background-color: red;
}

.search1 {
  width: 50%;
  background-color: none;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 10px;
  gap: 5px;
}



.question h4 {
  color: white;
  margin-top: -20px;
  padding-bottom: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 375px;
  background-color: black;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-around;

}

.footercon {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
  background-color: transparent;
}

.footer .flex1 {
  color:#999;;
  justify-content:space-around;
  align-items:flex-start;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
  font-size: 17px;
  min-height: 30px;

}

.footer .flex1 h5 {
  align-self:flex-start;
}

.list1 {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: flex-start;
  align-self: center;
  justify-content: center;
  min-height:50px;
  font-size: 13px;
  padding: 0px 70px;
  text-align: left;
}

.list1 li {
  font-size: 13px;
  margin: 7px -10px;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-items: center;
  align-self: flex-start;
  justify-content: center;
}

.list1 li a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

li a {
  font-size: 13px;
  text-align: center;
  color: #999;
}


.footertxt {
  color:white;
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content: flex-end;
}

.end {
  width:100%;
  min-height:50px;
background-color: black;
justify-content:space-around;
align-items:flex-start;
display: flex;
flex-direction:row;
flex-wrap:wrap;
color:#999;
margin-top:-60px;
}

.end h2 {
  display:flex;
  flex-direction: row;
font-size:16px;
}

@media (min-width: 250px) and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
  }

  .area h1 {
    font-size: 40px;
    line-height:60px;
  }

  .area h3 {
    margin-top: 10px;
  }

  .container1 img {
    width: 60%;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 250px;
    margin-bottom: 30px;

  }



  .search {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 50%;
    margin: 0 10px;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }

  .search1 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin: 0 10px;
    margin-bottom: 40px;
  }

h4 {
  color:white;
}

  .box1 {
    width: 100%;
    margin-bottom: 20px;
    margin:30px;
  }

  .try1 {
    width: 200px;
    margin: 0 10px;
    font-size:17px;
    min-height:50px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text h1 {
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .text p {
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest .textbox {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .quest {
    width: 80%;
    min-height: 75px;
    margin-left: 10px;
    margin-right: 10px;
  }
}